<div class="container mt-5">
  <form action="/admin/search">
    <div class="input-group mb-3">
      <input value="{{keyword}}" name="keyword" type="text" class="form-control" placeholder="想搜尋的使用者或資訊">
      <button class="btn btn-outline-secondary" type="submit">搜尋使用者</button>
    </div>
  </form>
  <div class="d-flex">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">編號</th>
          <th scope="col">名字</th>
          <th scope="col">介紹</th>
          <th scope="col">是否為老師</th>
          </t>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.introduction}}</td>
          {{#ifCond this.isTeacher 1}}
              <td class="text-center">是</td>
            {{else}}
              <td class="text-center">否</td>
          {{/ifCond}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>