<div class="container">
  <div class="row mt-3">
    <div class="col-md-9" id="search-and-teachers">
        <form action="/teachers/search">
          <div class="input-group mb-3">
            <input value="{{keyword}}" name="keyword" type="text" class="form-control" placeholder="輸入關鍵字" aria-label="keyword">
            <button class="btn btn-outline-secondary" type="submit">搜尋老師</button>
          </div>
        </form>

      <div class="row" id="teacher-info">

        {{#each teachers}}
          <div class="card me-3 mb-2" style="width: 19rem">
            <div class="d-flex flex-row card-body align-items-center">
              <img src="{{this.avatar}}" class="card-img-top me-3" alt="user avatar"
                style="width: 8rem">
              <div class="d-flex flex-column">
                <h5 class=""><strong><a href="/teachers/{{this.id}}" class="word-wrap:break-word">{{this.name}}</a></strong></h5>
                <p class="card-title">{{this.User.nation}} </p>
              </div>
            </div>
            <div class="card-body mb-2">
              <p class="card-text">{{this.introduction}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card px-2">
        <div class="card-body">

          <h5 class="text-center mb-4"><strong>學習時數排行</strong></h5>
          {{#each topLearnUsers}}
          <div class="d-flex flex-row align-items-center mb-4">
            <img src={{this.User.avatar}} class="card-img-top me-3" alt="user"
              style="width: 3rem">
            <h6>{{this.User.name}}</h6>
          </div>
          {{/each}}

        </div>
      </div>
    </div>


  </div>
</div>