<div class="container">
  <div class="row g-2">

    <div class="col-md me-1">

      <div class="row" id="avatar_and_name">
        <img class="col-3" src="{{teacher.avatar}}"
          style=" width:15rem" class="img-thumbnail" alt="..." border>
        <div class="col-3">
          <h2 class="mt-3"><strong>{{teacher.name}}</strong></h2>
          <h5 class="mt-5">{{teacher.nation}}</h5>
          <div class="d-flex flex-row align-items-center">
            <p><strong>平均評分:</strong></p>
            {{#if avgScore}}
              <h5><span class="badge bg-danger ms-2">{{avgScore}}</span></h5>
            {{/if}}
          </div>
        </div>
      </div>

      <h5 class="mt-4"><strong>自我介紹</strong></h5>
      <p class="">
        {{teacher.introduction}}
      </p>
      <h5 class="mt-4"><strong>教學風格</strong></h5>
      <p class="">
        {{teacher.style}}
      </p>
      <h5 class="mt-4"><strong>過去的課程評論</strong></h5>
      {{#each score}}
        <div class="d-flex flex-row">
          <h5><span class="badge bg-danger me-2">{{this.rating}}</span></h5>
          <p>{{this.comment}}</p>
        </div>
      {{/each}}

    </div>

    <div class="col-md">
      <h5 class="mb-3">預約課程</h5>
      <form action="/teachers/{{teacher.id}}/appointmentCourse" method="POST">
      <div class="col-md">
          <select name="appointmentTime" class="form-select" id="selectElement">
            <option selected>選擇預約的時間</option>
            {{#each availableTimesAfterBooked}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
      </div>
      <!-- Button trigger modal -->
      <button type="submit" class=" mt-4 btn btn-primary" style="width: 10rem"
        data-bs-toggle="modal" data-bs-target="#appointmenteModal">送出預約</button>
      </form>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="appointmenteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mx-auto" id="ModalLabel">預約成功!</h1>
      </div>
      <div class="modal-body mx-auto">
        <p>課程老師: {{teacher.name}}</p>
        <p>課程連結: {{teacher.courseLink}}</p>
        <p id="appointmentDateText"></p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">關閉</button>
      </div>
    </div>
  </div>
</div>


<script>
  const selectElement = document.getElementById('selectElement')
  const appointmentDateText = document.getElementById('appointmentDateText')
  const closeButton = document.getElementById('closeButton')
  selectElement.addEventListener('change', function () {
    const selectedDate = this.value
    appointmentDateText.textContent = `課程時間: ${selectedDate}`;
  });
  
  // 當點擊關閉按鈕，重新整理頁面
  closeButton.addEventListener('click', function () {
      location.reload();
    })
</script>

