<div class="container">
  <div class="row">

    <div class="col-md-4 me-1">
      <img src="{{user.avatar}}" style=" width:15rem"
        class="img-thumbnail" alt="..." border>
      <h2 class="mt-3">{{user.name}}</h2>
      <h5 class="mt-4">{{user.nation}}</h5>
      <p class="">{{user.introduction}}</p>
      <a href="/users/{{user.id}}/edit" class="mt-4 mb-3 btn btn-primary" style="width: 10rem">編輯資料</a>
    </div>

    <div class="col-md">
      <div class="row">
        <h5>新預約課程</h5>
        {{#each futureCourses}}
          <div class="card mb-3 mx-1 col-5" style="width:26rem">
            <div class="card-body">
              <p class="card-title"><strong>◾ 課程時間: </strong> {{this.courseTime}}</p>
              <p class="card-title"><strong>◾ 老師名字: </strong>
                <a href="/teachers/{{this.Teacher.id}}">{{this.Teacher.name}}</a></p>
              <p class="card-title"><strong>◾ 課程連結: </strong>{{this.Teacher.courseLink}}</p>
            </div>
          </div>
        {{/each}}
        <h5>上過的課程</h5>
        {{#each pastCourses}}
          <div class="col-md-5 me-1" style="width:26rem">
            <div class="card mb-3">
              <div class="card-body container">
                <div class="row align-items-center">
                  <img class="col-2" src="{{this.Teacher.avatar}}">
                  <p class="card-text col-6 my-auto"><a href="/teachers/{{this.Teacher.id}}">{{this.Teacher.name}}</a></p>
                  {{#if}}
                  {{/if}}
                  <a data-teacher-id={{this.id}} class="col-3 btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#score-course-{{this.Teacher.id}}">評分</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="score-course-{{this.Teacher.id}}" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 mx-auto" id="scoreModalLabel">評論{{this.Teacher.name}}的課程</h1>
                </div>
                <form action="/score/{{this.Teacher.id}}" method="POST">
                  <div class="modal-body">
                    <div class="input-group mb-3 align-self-center">
                      <input type="number" class="form-control" placeholder="1~5的分數" name="rating" min="1" max="5" step="0.1" required>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="留言評論" name="comment" required>
                    </div>
                  </div>
          
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">送出評論</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        {{/each}}
        <h5 class="mt-4">我的學習時數名次</h5>
        <div class="col-md-4 me-2">
          <div class="card mb-3">
            <div class="card card-body container">
              <div class="row" style="height:1.2rem">
                <h6 class="col-3 my-auto">排行:</h6>
                {{#if myRankData}} 
                    <h5 class="col-3 my-auto">{{myRankData}}</h5>
                  {{else}}
                    <p class="col-3 my-auto">---</p>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>