<h3 class="d-flex justify-content-center mb-2">編輯課程資訊與時間</h3>
<div class="container row">
  <form action="/teacher/{{user.id}}/edit?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="email" class="form-label">帳號&nbsp;</label>
      <button class="mb-2 btn btn-outline-danger"  type="button" class="btn btn-primary" id="editEmailButton"
        data-bs-toggle="modal" data-bs-target="#emailEdit">點此更改帳號</button>
      <input name="email" class="form-control" id="email" placeholder="輸入帳號" type="email"
        value="{{teacher.User.email}}" required readonly></input>
    </div>
    <div class="mb-3">
      <label for="emailCheck" class="form-label">確認帳號</label>
      <input name="emailCheck" class="form-control" id="emailCheck" placeholder="再次確認帳號" type="email"
        value="{{teacher.User.email}}" required readonly></input>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">名字</label>
      <input name="name" class="form-control" id="name" value="{{teacher.name}}" required></input>
    </div>
    <div class="mb-3">
      <label for="avatar" class="form-label">個人頭貼</label>
      <input type="file" name="avatar" class="form-control" id="avatar" value="{{teacher.avatar}}"></input>
    </div>
    <div class="mb-3">
      <label for="introduction" class="form-label">個人介紹</label>
      <textarea name="introduction" class="form-control" id="introduction" style="height: 100px" 
       required>{{teacher.introduction}}</textarea>
    </div>

    <div class="mb-3">
      <label for="id" class="form-label">教學風格</label>
      <textarea name="style" class="form-control" id="style" style="height: 100px"
        required>{{teacher.style}}</textarea>
    </div>

    <div class="mb-3">
      <label for="during" class="form-label">單堂課時間</label>
      <select class="form-select" name="during" id="during" placeholder="單堂課時間" required>
        <option value="30" {{#ifCond teacher.during "30"}}selected{{/ifCond}}>30分鐘</option>
        <option value="60" {{#ifCond teacher.during "60"}}selected{{/ifCond}}>60分鐘</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="courseLink" class="form-label">上課視訊連結</label>
      <input type="text" name="courseLink" class="form-control" id="courseLink"value="{{teacher.courseLink}}" required>
    </div>

    <div class="mb-3">
      <label for="appointment">開放預約</label>
      <div class="d-flex flex-row">
        <div class="mb-3 me-4" >
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="1" id="Mon"
          {{#ifCondinArray "1" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Mon">星期一</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="2" id="Tue"
          {{#ifCondinArray "2" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Tue">星期二</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="3" id="Wed"
          {{#ifCondinArray "3" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Wed">星期三</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="4" id="Thur"
          {{#ifCondinArray "4" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Thur">星期四</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="5" id="Fri"
          {{#ifCondinArray "5" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Fri">星期五</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="6" id="Sat"
          {{#ifCondinArray "6" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Sat">星期六</label>
        </div>
        <div class="mb-3 mx-4">
          <input class="form-check-input" type="checkbox" name="appointmentWeek" value="7" id="Sun"
          {{#ifCondinArray "7" appointmentDays }}checked{{/ifCondinArray}}>
          <label class="form-check-label" for="Sun">星期日</label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="mt-2 btn btn-primary">修改資料</button>
    </div>
  </form>

</div>

<!-- 更改信箱按鈕的Modal -->
<div class="modal fade" id="emailEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>編輯帳號提醒</h4>
      </div>
      <div class="modal-body">
        <p>更改帳號後，下次請用新的帳號進行登入!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modalCheckButton">我知道了</button>
      </div>
    </div>
  </div>
</div>

<script>
  const editEmailButton = document.getElementById('editEmailButton')
  const email = document.getElementById('email')
  const emailCheck = document.getElementById('emailCheck')
  editEmailButton.addEventListener('click', function () {
      //點擊編輯信箱按鈕後，將編輯email欄位的readonly屬性變成false。按鈕hide起來
      email.readOnly = false;
      emailCheck.readOnly = false;
      editEmailButton.hidden = true;
    })
</script>