<div class="container">
  <div class="row">

    <div class="col-md-4 me-1">

      <div class="row" id="avatar_and_name">
        <img class="col-4" src="{{teacher.avatar}}"
          style="width:18rem">
      </div>
      <h3 class="mt-3">{{teacher.name}}</h3>
      <p class="mt-3">{{teacher.User.email}}</p>
      <div class="row">
        <h6 class="mt-2"><strong>平均評分:&nbsp;<span class="badge bg-danger">{{teacherAvgScore}}</span></strong></h6>
        <h6 class="mt-2"><strong>關於我:</strong></h6>
        <p>{{teacher.introduction}}</p>
      </div>
    </div>

    <div class="col-md">
      <h6>新預約課程</h6>
      <div class="row">
        {{#each futureCourses}}
        <div class="card mb-3 me-2" style="width:26rem">
          <div class=" d-flex flex-row align-items-center">
            <img src="{{this.User.avatar}}" alt="user-avatar" style="width:5rem ;height:5rem; border-radius:5rem; ">
            <div class="card-body">
              <p class="card-title">學生名字:&nbsp;{{this.User.name}}</p>
              <p class="card-title">課程時間:&nbsp;{{this.courseTime}}</p>
              <p class="card-title">課程連結:&nbsp;{{this.Teacher.courseLink}}</p>
            </div>
          </div>
        </div>
        {{/each}}
        <hr>
        <h6 class="mt-1">你的教學風格</h6>
        <p>{{teacher.style}}</p>
        <hr>
        <h6 class="mt-1 mb-3">最新的評論</h6>
        {{#each scores}}
          <div class="d-flex flex-cloumn">
            <h6 class="col-1"><span class="badge bg-danger">{{this.rating}}</span></h6>
            <p class="col">{{this.comment}}.</p>
            <p class="col"><span class="badge bg-secondary">{{this.User.name}} 的評分</span></p>
          </div>
        {{/each}}
        <div class="row d-flex justify-content-end">
          <a href="/teacher/{{user.id}}/edit" 
          class="btn btn-primary mt-5 col-md-2">編輯課程資訊<br>與時間</a>
        </div>

      </div>
    </div>